.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.logo img {
    width: 5vw;
    height: auto;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para pantallas pequeñas (hasta 600px) */
@media screen and (max-width: 600px) {
    /* Aplica estilos específicos para dispositivos móviles */
  }
  