footer {
  background-color: #808080;
  padding: 20px; /* Añade espaciado interno para que los enlaces no estén pegados al borde */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 97%;
  
}

/* Estilos para los enlaces */
footer a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px; /* Espaciado entre los enlaces */
}

/* Añade espacio entre los enlaces */
footer a:not(:last-child) {
  margin-right: 40px; /* Ajusta el espaciado según tus preferencias */
}

/* Estilos para pantallas pequeñas (hasta 600px) */
@media screen and (max-width: 600px) {
  /* Aplica estilos específicos para dispositivos móviles */
  .linksRedes {
    margin: 0 5px; /* Ajusta el espaciado en pantallas pequeñas */
  }
}
